@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Wix Madefor Display', sans-serif; 
    /* border: 1px solid red; */
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
}
.navbar{
   width: 100%;
   height: 80px;
   /* background-color: gold; */
   display: flex;
   justify-content: space-between;
   padding: 20px;
   border-bottom: 1px solid #a59595;
}
.navbar span{
    display: flex;
    justify-content: space-around;
    width: 350px;
    height: 35px;
    /* background-color: #fff; */
}
.navbar ul{
    display: flex;
    justify-content: space-between;
    width: 500px;
    /* background-color: darkorchid; */
}
.navbar ul li{
    list-style: none;
}
.navbar a{
    text-decoration: none;
    color :rgb(236, 14, 14);
}
.responsive-navbar{
    display: none;
}
.container-2{
    width: 100%;
    height: 100vh;
    padding: 15px 50px;
    /* border-bottom: 1px solid gray; */
}
.btn{
    width: 100%;
    height: 80px;
    /* background-color: azure; */
    display: flex;
    justify-content: space-around;
    padding-top: 12px;
    /* flex-wrap: wrap; */
}

.container-2 button{
    width: 360px;
    display: flex;
    align-items: center;
    padding-left: 8px;
    flex-direction: row;
    height: 45px;
    background-color: transparent;
    border-radius: 8px;
}
.fa-location-dot{
    padding: 0px 10px;
    font-size: 18px;
}  

.btn2 {  
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
    /* border: 2px solid red; */
    background-color: rgb(209, 72, 57);
}
.fa-calendar{
    display: flex;
    justify-content: center;
    align-items: center;
   font-size: 18px;
   width: 50px;
   height: 30px;
   /* border: 1px solid darkblue; */
}
.btn2 span{
    text-align: left;
}
.btn3{  
    display: flex;
    background-color: rgb(209, 72, 57);
}
.fa-user{
    display: flex;
    justify-content: center;
    align-items: center;
   font-size: 18px;
   width: 50px;
   height: 30px;
   /* border: 1px solid darkblue; */
}
.btn3 span{
    text-align: left;
}

/* .date{
    width:70px;
    background-color: #fff;
} */
.btn .Search{
    display: flex;
    justify-content: center;
    font-size: 17px;
    width: 100px;
    height: 45px;
    border-radius: 25px;
    background-color: rgb(7, 51, 250);
    color: white;
    border: none;
    /* padding-right: 10px; */
}
.black-box{
    width: 100%;
    height: 70px;
    background-color: rgb(49, 47, 47);
    color: white;
    display: flex;
    margin-top: 15px;
    /* margin-left: 50px; */

}
.fa-triangle-exclamation{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80px;
    height: 70px;
    font-size: 23px;
    /* background-color: #f19292; */
}
.black-box span{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.black-box span a{
    color: white;
}
.hero-section{
    margin-top: 20px;
    width: 100%;
    height: 35vh;
    /* background-color: burlywood; */
}
.hero-section h1{
    color: black;
}
.hero-section-1{
    display: flex;
    flex-wrap: wrap;
}
.hero1{
    width: 30%;
    height: 120px;
    display: flex;
    /* justify-content: space-around; */
    margin: 20px 10px;
    /* border: 1px solid gainsboro; */
}
.hero1-image{
    width: 80px;
    height: 100px;
    display: flex;
    align-items: center;
    /* background-color: aquamarine; */
}
.hero1-image img{
    width: 50px;
    height: 50px;
}
.hero1 span{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 14px;
}
.hero1 span a{
    text-decoration: none;
    color: rgb(18, 18, 233);
} 
.hero2{
    width: 30%;
    height: 120px;
    display: flex;
    /* justify-content: space-around; */
    margin: 20px 10px;
    /* border: 1px solid gainsboro; */
}
.text1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 14px;
}
.text1 span{
    width: 220px;
    height: 20px;
    /* border: 1px solid gainsboro; */
    display: flex;
    justify-content: space-between;
}
.text1 a{
    text-decoration: none;
    color: rgb(18, 18, 233);
}
.hero3{
       width: 30%;
    height: 120px;
    display: flex;
    /* justify-content: space-around; */
    margin: 20px 10px;
    /* border: 1px solid gainsboro; */
}
.hero3-image{
     width: 80px;
    height: 100px;
    /* border: 1px solid violet; */
    display: flex;
    align-items: center;
}
.hero3-image i{
    font-size: 26px;
    border: 10px solid rgb(204, 207, 204);
    border-radius: 50px;
    color: rgb(71, 190, 71);
}
.hero3 span{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 12px;
    width: 200px;
    height: 70px;
    /* border: 1px solid green; */
}
.gray-box{
    width: 100%;
    height: 30vh;
    background-color: rgb(173, 158, 158);
    /* border-bottom: 10px solid darkblue; */
}
.line{
    width: 100%;
    border-bottom: 1px solid rgb(223, 215, 215);
    padding-top: 20px;
}
.reward-section{
    width: 100%;
    height: 40vh;
    /* border: 1px solid rgb(223, 94, 240); */
    display: flex;
    margin-top: 20px;
}
.reward-image{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    height: 230px;
    /* border: 1px solid chocolate; */
    /* background-color: azure; */
}
.reward-image img{
    width: 330px;
    height: 330px;
    /* border: 1px solid chocolate; */
}
.reward-image a{
    text-decoration: none;
    padding-right: 100px;
}
.reward-text{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* justify-content: center; */
    /* align-items: center; */
    height: 230px;
    /* border: 1px solid chocolate; */
    /* background-color: azure; */

}
.reward-text img{
    width: 280px;
    height: 25px;
}
.reward-text p{
    font-size: 13px;
}
.reward-text span{
    display: flex;
    width: 300px;
    /* border: 1px solid firebrick; */
    justify-content: space-around;
    
}
.reward-text span :first-child{
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(37, 37, 247);
    border: none;
    display: flex;
    justify-content: center;
    color: white;
}
.reward-text span button{
    width: 100px;
    border: none;
    color: rgb(37, 37, 247);
    font-size: 16px;
}
.boxes{
    width: 100%;
    height: 45vh;
    /* border: 1px solid gold; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.grid{
    width: 100%;
    height: 35vh;
    display: grid;
    grid-template-columns: repeat(3, 405px);
    grid-template-rows: repeat(25% , 25% , 25% );
    gap: 10px;
}
.box1{
    background-image: url(./hob_aa_guest_house.jpg);
    background-position: center;
    background-size: cover;
}
.box2{
    background-image: url(./hob_aa_apartment.jpg);
    background-position: center;
    background-size: cover;
}
.box3{
    background-image: url(./hob_aa_resorts.jpg);
    background-position: center;
    background-size: cover;
}
h1{
    color: white;
    display: flex;
    /* align-items: flex-end; */

}
.grid1{
    width: 100%;
    height: 45vh;
    display: grid;
    grid-template-columns: repeat(3, 405px 600px 200px);
    grid-template-rows: repeat(25% );
    gap: 10px;
    border: 1px solid gray;
    padding-top: 20px;
    margin-bottom: 80px;
}
.box4{
    background-image: url(./box4.jpg);
}
.box5{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* border-top: 1px solid gray; */
}
.box5 h1{
    color: black;
    font-size: 28px;
}

.box6 img{
    width: 150px;
    height: 150px;
    
}
.footer{
    width: 100%;
    height: 140vh;
    /* border: 2px solid yellowgreen; */
}
.footer1{
    display: flex;
    width: 100%;
    height: 110vh;
    /* padding-bottom: 20px; */
    /* background-color: rgb(236, 142, 236);    */
}
.top{
  width: 20%;
  /* background-color: aqua; */
}
.top h4{
    padding: 10px 0px;
    font-size: 14px;
}
.top ul{
    list-style: none;
}
.top ul li{
    padding: 5px 0px;
    font-size: 12px;
}
.top ul li a{
    text-decoration: none;
    color: blue;
}
.country{
    width: 20%;
    /* background-color: antiquewhite; */
}
.country h4{
    padding: 10px 0px;
    font-size: 14px;
}
.country ul{
    list-style: none;
}
.country ul li{
    padding: 5px 0px;
    font-size: 12px;   
}
.country ul li a{
    text-decoration: none;
    color: blue;    
}
.Support{
    width: 18%;
    /* background-color: antiquewhite; */
}
.Support h4{
    padding: 10px 0px;
    font-size: 14px;
}
.Support ul{
    list-style: none;
}
.Support ul li{
    padding: 5px 0px;
    font-size: 12px;   
}
.Support ul li a{
    text-decoration: none;
    color: blue;    
}
.supplier{
    width: 28%;
    /* background-color: antiquewhite; */
}
.supplier h4{
    padding: 10px 0px;
    font-size: 14px;
}
.supplier ul{
    list-style: none;
}
.supplier ul li{
    padding: 5px 0px;
    font-size: 12px;   
}
.supplier ul li a{
    text-decoration: none;
    color: blue;    
}
.policies{
    width: 20%;
    /* background-color: antiquewhite; */
}
.policies h4{
    padding: 10px 0px;
    font-size: 14px;
}
.policies ul{
    list-style: none;
}
.policies ul li{
    padding: 5px 0px;
    font-size: 12px;   
}
.policies ul li a{
    text-decoration: none;
    color: blue;    
}
.other{
    width: 20%;
    /* background-color: antiquewhite; */
}
.other h4{
    padding: 10px 0px;
    font-size: 14px;
}
.other ul{
    list-style: none;
}
.other ul li{
    padding: 5px 0px;
    font-size: 12px;   
}
.other ul li a{
    text-decoration: none;
    color: blue;    
}
.footer2{
    width: 100%;
}
.footer2 p{
  font-size: 12px;
  padding-top: 10px;
}

@media(max-width : 768px){
    .navbar{
        display: none;
    }
    .responsive-navbar{
        display: block;
        display: flex;
        padding: 0px 12px;
        justify-content: space-between;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid #302f2f;
        /* border: 1px solid rgb(57, 5, 245); */

    }
    .responsive-navbar img{
       width: 120px;
    }
    .responsive-navbar span{
        width: 150px;
        height: 50px;
        /* border: 1px solid rgb(57, 5, 245); */
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: 20px;
        color: orangered;

    }
    .container-2{
        width: 100%;
        min-height: 100vh;
        /* border: 1px solid rgb(137, 247, 137); */
        /* padding-left: 10px; */
        padding: 0px;
    }
    .container-2 button{
        width: 95%;
        border: 1px solid gray;
    }
    .container-2 h2{
        padding-left: 10px;
    }
    .btn{
        width: 100%;
        height: 240px;
        display: flex;
        flex-direction: column;
        /* padding-left: 10px; */
        /* border: 1px solid rgb(28, 238, 28); */
        /* padding: 0px; */
        /* padding-top: 10px 0px; */
    }
    .btn1{
        width: 100%;
        height: 30px;
    }
    .btn .Search{
        width: 95%;
    }
    .black-box{
        width: 95%;
        height: 100px;
       margin-left: 10px;
       border-radius: 10px;
       padding: 10px 0px;
    }
    .black-box span{
        font-size: 13px;
        width: 75%;
        height: 80px;
        /* border: 1px solid red; */
        /* padding: 20px 0px; */
    }
    .hero-section{
        height: 80vh;
        width: 100%;
        /* border: 1px solid rgb(55, 0, 255); */
        padding: 0px 10px;
    }
    .hero-section h1{
        font-size: 25px;
    }
    .hero-section-1{
        height: 430px;
        width: 100%;
        /* border: 1px solid rgb(55, 0, 255); */
    }
    .hero1{
        width: 90%;
        /* height: 30px; */
        /* padding-top: 50px; */
    }
    .hero2{
        width: 90%;
    }
    .hero3{
        width: 90%;
    }
    .gray-box{
        width: 90%;
        height: 400px;
        /* border: 1px solid red; */
        margin-left: 25px;
        border-radius: 5px;
    }
    .reward-section{
        width: 100%;
        height: 450px;
        display: flex;
        flex-direction: column;
    }
    .reward-image{
        width: 70%;
    }
    .reward-image a{
        display: none;
    }
    .reward-text{
        width: 85%;
        /* height: 220px; */
        padding:  0px 15px;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        /* height: 200px; */
    }
    .box1{
        width: 100%;
        height: 120px;
        border-radius: 10px;
    }
    .box2{
        width: 100%;
        height: 120px;
        border-radius: 10px;
    }
    .box3{
        display: none;
    }
    .grid1{
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
    }
    /* .box6{
        display: none;
    } */

}